
.mat-datepicker-toggle{
  color: rgba(255,255,255,.7);
}

.mat-button{
  width: 100%;
  background-color: #005cc7;
  color: white;
  margin-top: 20px;
}
.input-document{
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload{
  display: flex;
}

.input-document + label{
  text-align: center;
  color: #005cc7;
  border: rgba(255,255,255,.7) 1px dashed;
}
.upload label {
  width: 352px;
  height: 35px;
  line-height: 35px;
}
.add-document{
  width: 100%;
  background-color: #005cc7;
  color: white;
  margin-top: 20px;
  border: none;
  line-height: 36px;
  border-radius: 5px;
  font-size: 16px;
}
.info{
  padding: 0;
}
h3{
  color: rgba(255,255,255,.7);
  font-size: 15px;
  margin-bottom: 0;
}
p{
  margin: 0;
  text-align: center;
  color: rgba(255,255,255,.7);
}
p span{
  color: #00a200;
}
.material-icons{
  font-size: 19px;
  display: inline;
  cursor: pointer;
}
:host /deep/ .mat-list-item-content{
  justify-content: space-between;
}
.right{
  display: inherit;
}
:host /deep/ .mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #005cc7;
}

:host /deep/ .mat-list-base .mat-list-item{
  height: 30px;
}

:host /deep/ .mat-progress-bar-buffer{
  background-color: rgba(255,255,255,.7);
}
:host /deep/ .mat-progress-bar-background{
  display: none;
}
