<form class="second-step" [formGroup]="secondFormGroup">
  <mat-form-field>
    <mat-label>Select type document</mat-label>
    <mat-select [(value)]="selected" formControlName="selection">
      <mat-option  *ngFor="let currentSelected of availableDocs" [value]=currentSelected>{{currentSelected.type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Document ID" matInput formControlName="id">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Document Expiry" matInput formControlName="expiry">
  </mat-form-field>
  <div class="upload">
    <input type="file" name="upload" id="upload" class="input-document" formControlName="file">
    <label for="upload">Upload document</label>
  </div>
  <h3>Added documents:</h3>
  <mat-list class="info">
    <mat-list-item *ngFor="let item of getDataDocument let i = index">
      <p>{{item.file}}</p>
      <span class="right">
      <p> {{item.selected}}</p>
      <i class="material-icons" (click)="removeDocument(i)">delete</i>
    </span>
    </mat-list-item>
  </mat-list>
  <p>{{valueProgress}}/<span>100</span></p>
  <mat-progress-bar mode="determinate" [value]="valueProgress"></mat-progress-bar>
  <button *ngIf="valueProgress !== 100" [disabled]="secondFormGroup.invalid" class="add-document" (click)="addDocument()">add</button>
  <button *ngIf="valueProgress === 100" class="add-document" type="submit" >send</button>
</form>
