<mat-horizontal-stepper linear>
  <mat-step [editable]="true" [stepControl]="firstFormGroup" [optional]="true">
   <app-first-step-register [firstFormGroup]="firstFormGroup" ></app-first-step-register>
  </mat-step>
  <mat-step>
   <app-second-step-register
     [selected]="selected"
     [secondFormGroup]="secondFormGroup"
     [availableDocs]="availableDocs"
     [getDataDocument]="getDataDocument"
     [valueProgress]="valueProgress"
   ></app-second-step-register>
  </mat-step>
</mat-horizontal-stepper>
