<mat-horizontal-stepper linear>
  <mat-step [editable]="isEditable" [stepControl]="firstFormGroup" [optional]="isOptional" [completed]="isFirstFormValid">
   <app-first-step-register (valid)="isFirstFormValid = $event" (firstGroup)="getDataFirstForm($event)" (firstForm)="getFirstForm($event)"></app-first-step-register>
  </mat-step>
  <mat-step>
   <app-second-step-register
      [selected]="selected"
      [availableDocs]="availableDocs"
      [getDataDocument]="getDataDocument"
      (secondGroup)="getDataSecondForm($event)"
></app-second-step-register>
</mat-step>
</mat-horizontal-stepper>
