header{
  min-height: 500px;
  width: 400px;
  background-color: #424242;
  border-radius: 7px;
}

.mat-stepper-horizontal{
  border-radius: 7px;
}
:host /deep/ .mat-stepper-horizontal-line {
  border: none;
  flex: none;
}
:host /deep/ .mat-horizontal-stepper-header{
  padding: 0;
  height: 24px;
  width: 28px;
}
:host /deep/ .mat-horizontal-stepper-header-container{
  justify-content: flex-end;
  padding: 55px 23px 0 55px;
}
:host /deep/ .mat-horizontal-stepper-header:hover{
  background: none;
}
:host /deep/ .mat-horizontal-stepper-header-container:nth-child(1):before{
  content: 'Step information';
  color: rgba(255,255,255,.7);
  font-size: 15px;
  margin-right: 5px;
}

:host /deep/ .mat-datepicker-toggle-default-icon{
  font-size: 20px;
}
:host /deep/ .mat-step-icon-selected{
  background-color: #005cc7;
}
:host /deep/ .mat-step-icon-state-done{
  background-color: green;
}

:host /deep/ .first-step .mat-form-field-infix{
  width: 160px;
}

:host /deep/ .second-step .mat-form-field-infix{
  width: 352px;
}

:host /deep/ .picker .mat-form-field-infix{
  width: 330px;
}

.input-group{
  display: flex;
  justify-content: space-between;
}


input{
  text-indent: 10px;
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
button{
  width: 352px;
  background-color: #005cc7;
  color: white;
  margin-top: 20px;
  border: none;
  line-height: 36px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}
.buttons{
  display: flex; justify-content: center;
}





